$theme-colors:(
    "primary": #004e38
);


@import "../node_modules/bootstrap/scss/bootstrap";


/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body{
    background-color: black;
}
// Header
#header{
    margin: auto;
}
#title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    align-self: center;
}
.selectOption{
    max-width: 100%;
    border-radius: 5px;
    border: solid black;
    margin:auto;
    text-align: center;
}
#goBtn{
    width: 40px; 
    border-radius: 5px;
}
.my-icon{
    color: black;
}
.my-nav{
    height:15vh;
    z-index: 2;
    border-bottom: solid black;
}

//Buttons
button{
    height: 30px;
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}

.noMobile{
    display: none;
}

// Map
#map { 
    position: absolute;
    width: 100%;
    height: 85vh;
    top: 15vh;
    z-index: 0;
}

// Footer
.my-panel{
    top: calc(100vh-20px);
    bottom:0;
    z-index: 2;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #b5a687;
}
#pageNav{
    position: absolute;
    top: calc(90vh);
    bottom:0;
    z-index: 2;
    margin: auto;
    padding: 0;
}

//Information panels
.infoPanel{
    margin:0;
    padding:0;
    width:100%;
    max-height: 58vh !important;
    overflow-y: scroll !important;
    text-align: center;
    background-color: #b5a687;
}
#contentCell{
    text-align: left;   
 }

.card-header.collapsed {
    background:black;
    text-decoration: none;
    text-align: center;
 }
.card-header:not(.collapsed) {
    background: black;
    color:white;
    text-align: center;
}
#flag{
    width: 15vh;
}
table 
{
    margin: 0;
    table-layout:fixed;
    width:100%;
}
#weatherCell{
    padding: 0.75rem;
    vertical-align: middle;
}
#summary{
    font-size:small; 
    padding:10px;
} 

//News 
#articleImg{
    float: right; 
    width:150px;
}
.articleBtn{
    display: inline-block;
    width: 50%;
}

//Exchange
#value{
    width: 75%;
}
#exchangeResult{
    flex: row;
    justify-content: center;
    align-items: center;
}


// Media Queries:
//576px
// @include media-breakpoint-up(sm) { ... }
//768px
@include media-breakpoint-up(md) { 
    //Header
    .my-nav{
        height: 25vh;
    }
    #title{
        font-size: 3em;
    }
    .my-icon{
        align-self: center;
    }
    #countrySelect{
        width:75%;
    }

    //Buttons:
    .noMobile{
        display: block;
    }

    //Map:
    #map { 
        top:0;
        right: 0;
        height: 100%;
        width: 58.33333333%;
    }


    //Panels
    .my-panel{
        top:25vh;
        justify-content: start;
        align-items: unset;
    }
    .infoPanel{
        max-height: 70vh;
    }

    #pageNav{
        top: 93%;
    }
    

 }


//992px
 @include media-breakpoint-up(lg) {
    #map {
        width: 66.666666666667% !important;
    }
}
// @include media-breakpoint-up(xl) { ... }