$theme-colors:(
    "primary":#9effd3
);


@import "../node_modules/bootstrap/scss/bootstrap";


/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

//General
button{
    height: 40px;
    padding: 0px;
    margin: 0px;
    border: none;
}

// Header
#header{
    margin: auto;
}
#title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    align-self: center;
}
#countrySelect{
    width: 100%;
    border-radius: 5px;
    border: solid black;
}
.my-icon{
    color: black;
}
.my-nav{
    height:15vh;
    z-index: 2;
}

// Map
#map { 
    position: absolute;
    width: 100%;
    height: 85vh;
    top: 15vh;
    z-index: 0;
}

// Footer
#my-footer{
    position: absolute;
    top: calc(100vh-40px);
    bottom:0;
    z-index: 2;
}

//Information panels
#collapseInfo{
    width:100%;
}

// Media Queries:
//576px
// @include media-breakpoint-up(sm) { ... }
//768px
@include media-breakpoint-up(md) { 
    //Header
    .my-nav{
        height: 30vh;
    }
    #title{
        font-size: 3em;
    }
    .my-icon{
        align-self: center;
    }
    #countrySelect{
        width:75%;
    }

    //Map
    #map { 
        top:0;
        right: 0;
        height: 100%;
        width: 58.33333333%;
    }

    //Footer
    #my-footer{
        top:30vh;
    }

 }


//992px
 @include media-breakpoint-up(lg) {
    #map {
        width: 66.666666666667% !important;
    }
}
// @include media-breakpoint-up(xl) { ... }